
*{
    margin: 0px;
    padding: 0px;
   
}

.layout{

    
    height: 100vh;
    width: 100vw;
    background:white;
   
  

}

a:link {

    width: 100%;
	height: 60%;
	font-weight: 600;
    font-family: Titillium Web;
    color: black;
    text-decoration: none;


}

a:visited {
    
    width: 100%;
	height: 60%;
	font-weight: 600;
    font-family: Titillium Web;
    color: black;
    text-decoration: none;
}

img{

    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 9px;
    
    
}

.texto{

	font-size: 250%;
	width: 100%;
	height: 60%;
	font-weight: 600;
    font-family: Titillium Web;
    color: black;
    

}  

.textoSeleccionado{

	font-size: 250%;
	width: 100%;
	height: 60%;
	font-weight: 600;
    font-family: Titillium Web;
    text-decoration: overline black;
    color: black;

}  


.gridPersonaje{
    position: absolute;
    display: grid;

    grid-template-columns: repeat(9,11.11vw);
    grid-template-rows: 5.55vh 
                        5.55vh 
                        5.55vh 
                        11.1vh 
                        5.55vh 
                        11.1vh 
                        5.55vh 
                        11.1vh 
                        16.65vh 
                        16.65vh 
                        5.55vh;

    margin: 0 auto;
	text-align: center;
    z-index: 1;
    
}

.itemPersonaje{

    display: flex;
    object-fit: cover;
	vertical-align: center;
	align-items: center;
    outline: solid 1px #000000; 
    
    
}



.boton{
    display: grid;
    object-fit: cover;
    grid-template-columns: 11.11vw;
    grid-template-rows: 5.55vh 5.55vh;
    margin: 0 auto;
    text-align: center;
    
}

.itemBoton{

    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
	vertical-align: center;
	align-items: center;
    outline: solid 1px #000000;
    

}

.itemPersonaje:nth-child(4){
    grid-column: 4/ span 3;
    grid-row: 1 / span 1;
    
}

.itemPersonaje:nth-child(9){
    grid-column: 2/ span 4;
    grid-row: 2 / span 1;
    
}

.itemPersonaje:nth-child(10){
    grid-column: 6/ span 1;
    grid-row: 2 / span 1;
    
}

.itemPersonaje:nth-child(11){
    grid-column: 7/ span 1;
    grid-row: 2 / span 1;
    
}

.itemPersonaje:nth-child(12){
    grid-column: 8/ span 2;
    grid-row: 2 / span 1;
    
}

.itemPersonaje:nth-child(13){
    grid-column: 1 / span 6;
    grid-row: 3 / span 1;
}

.itemPersonaje:nth-child(14){
    grid-column: 7 / span 3;
    grid-row: 3 / span 1;
}

.itemPersonaje:nth-child(24){
    grid-column: 1 / span 6;
    grid-row: 5 / span 1;
}

.itemPersonaje:nth-child(25){
    grid-column: 7 / span 3;
    grid-row: 5 / span 1;
}

.itemPersonaje:nth-child(35){
    grid-column: 1 / span 6;
    grid-row: 7 / span 1;
}

.itemPersonaje:nth-child(36){
    grid-column: 7 / span 3;
    grid-row: 7 / span 1;
}

.itemPersonaje:nth-child(46){
    grid-column: 1 / span 9;
    grid-row: 9 / span 1;
}

.itemPersonaje:nth-child(47){
    grid-column: 1 / span 3;
    grid-row: 10 / span 1;
}

.itemPersonaje:nth-child(48){
    grid-column: 4 / span 3;
    grid-row: 10 / span 1;
}

.itemPersonaje:nth-child(49){
    grid-column: 7 / span 3;
    grid-row: 10 / span 1;
}

.itemPersonaje:nth-child(50){
    grid-column: 1 / span 3;
    grid-row: 11 / span 1;
}

.itemPersonaje:nth-child(51){
    grid-column: 4 / span 3;
    grid-row: 11 / span 1;
}

.itemPersonaje:nth-child(52){
    grid-column: 7 / span 3;
    grid-row: 11 / span 1;
}





.slot{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 33.2%  33.32%  33.2%;
	grid-template-rows: 33.3% 33.3% 33.3%;

}

.slot1{

	display: flex;
	width: 100%;
	height: 100%;
	outline: solid 1px #000000;
	z-index: 100;
	vertical-align: center;
    align-items: center;
    
	
}

.slot1:nth-child(2){
grid-column: 2 / span 2;
grid-row: 1 / span 1;

}

.slot2{

	display: flex;
	width: 100%;
	height: 100%;
	outline: solid 1px;
	z-index: 100;
	vertical-align: center;
    align-items: center;
    
}

.slot2:nth-child(1){
grid-column: 1 / span 2;
grid-row: 1 / span 1;

}





.slot3{

	display: flex;
	width: 100%;
	height: 100%;
	outline: solid 1px #000000;
	z-index: 100;
	vertical-align: center;
    align-items: center;
    
	
}

.slot3:nth-child(2){
grid-column: 2 / span 2;
grid-row: 1 / span 1;

}

.slot4{

	display: flex;
	width: 100%;
	height: 100%;
	outline: solid 1px;
	z-index: 100;
	vertical-align: center;
    align-items: center;
    
}

.slot4:nth-child(1){
grid-column: 1 / span 2;
grid-row: 1 / span 1;

}






