.gridModalMascota2{
    display: none;
	width: 66.66vW ;
	height: 83.25vh;
	grid-template-columns: repeat(6, 16.65%);
    grid-template-rows:
    5.55vh
    5.55vh
    11.11vh
    11.11vh
    11.11vh
    5.55vh
    11.11vh
    5.55vh
    5.55vh
    5.55vh;
    
    position: absolute;
    margin-left: 15%;
    margin-top: 14.5%;
    outline: solid #000000 19px;
    border: solid #ffffff 19px;
    background-color: white;
    text-align: center;
    z-index: 500;
    
    
}

.itemModalMascota2{
    display: flex;
	width: 100%;
	height: 100%;
	outline: solid 2px #000000;
	z-index: 300;
	vertical-align: center;
    align-items: center;
    background-color: white;
}


.itemModalMascota2:nth-child(2){
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    
}

.itemModalMascota2:nth-child(6){
    grid-column: 1/ span 3;
    grid-row: 2 / span 1;
    
}

.itemModalMascota2:nth-child(7){
    grid-column: 4/ span 3;
    grid-row: 2 / span 1;
    
}

.itemModalMascota2:nth-child(26){
    grid-column: 1/ span 6;
    grid-row: 6 / span 1;
    
}


.itemModalMascota2:nth-child(33){
    grid-column: 1/ span 6;
    grid-row: 8 / span 1;
    
}

.itemModalMascota2:nth-child(35){
    grid-column: 2/ span 4;
    grid-row: 9 / span 1;
    
}

.itemModalMascota2:nth-child(38){
    grid-column: 2/ span 4;
    grid-row: 10 / span 1;
    
}

.itemModalMascota2:nth-child(41){
    grid-column: 2/ span 4;
    grid-row: 11 / span 1;
    
}


